<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<servers>
		<!-- Sonatype Nexus artifact deployment -->
		<server>
			<id>sonatype-nexus-snapshots</id>
			<username>${env.NEXUS_USERNAME}</username>
			<password>${env.NEXUS_PASSWORD}</password>
		</server>
		<server>
			<id>sonatype-nexus-staging</id>
			<username>${env.NEXUS_USERNAME}</username>
			<password>${env.NEXUS_PASSWORD}</password>
		</server>
		<!-- Spout Nexus artifact deployment -->
		<server>
			<id>spout-nexus-snapshots</id>
			<username>${env.NEXUS_USERNAME}</username>
			<password>${env.NEXUS_PASSWORD}</password>
		</server>
		<server>
			<id>spout-nexus-releases</id>
			<username>${env.NEXUS_USERNAME}</username>
			<password>${env.NEXUS_PASSWORD}</password>
		</server>
		<!-- GitHub site deployment -->
		<server>
			<id>github-deploy</id>
			<password>${env.GITHUB_DEPLOY_TOKEN}</password>
		</server>
	</servers>
</settings>
